/perception/localization/10hz/PoseWithCovarianceStamped 10
/perception/signal2d/TLArray 10
/duperception/DuDriveObsArray3D 10
/duperception/DuDriveObsArray 10
/sensor/velodyne64/compensator/PointCloud2 10
/sensor/velodyne16/left/compensator/PointCloud2 10
/sensor/velodyne16/right/compensator/PointCloud2 10
/sensor/velodyne16/back/compensator/PointCloud2 10
/sensor/novatel/imu 100
/sensor/novatel/odometry 100
/sensor/camera/obstacle2d/image 30
