<launch>

  <!-- start load driver nodelet -->
  <arg name="model" default="64E" />
  <arg name="pcap" default="" />
  <arg name="ip" default=""/>
  <arg name="firing_data_port" default=""/>
  <arg name="positioning_data_port" default=""/>
  <arg name="read_once" default="true" />
  <arg name="read_fast" default="false" />
  <arg name="repeat_delay" default="0.0" />
  <arg name="rpm" default="600.0" />
  <arg name="frame_id" default="velodyne" />
  <arg name="topic" default="/velodyne_packets" />
  <arg name="node_name" default="driver_nodelet"/>
  <arg name="use_gps_time" default="true"/>
  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
        args="load velodyne_driver/DriverNodelet velodyne_nodelet_manager" output="screen" >
    <param name="model" value="$(arg model)"/>
    <param name="pcap" value="$(arg pcap)"/>
    <param name="read_once" value="$(arg read_once)"/>
    <param name="read_fast" value="$(arg read_fast)"/>
    <param name="repeat_delay" value="$(arg repeat_delay)"/>
    <param name="rpm" value="$(arg rpm)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="topic" value="$(arg topic)"/>    
    <param name="ip" value="$(arg ip)"/>
    <param name="firing_data_port" value="$(arg firing_data_port)"/>
    <param name="positioning_data_port" value="$(arg positioning_data_port)"/>
    <param name="use_gps_time" value="$(arg use_gps_time)"/>
  </node>    

</launch>
