<launch>
  <arg name="model" default="64E_S2" />
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/64e_test.yaml" />
  <arg name="min_range" default="0.9" />
  <arg name="max_range" default="200.0" />
  <arg name="imu_sync" default="xsens" />
  <arg name="organized" default="false"/>
  <arg name="topic_pointcloud" default="/dusensor/velodyne/points"/>
  <arg name="topic_packets" default="/velodyne_packets"/>
  <arg name="node_name" default="cloud_nodelet"/>
  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
        args="load velodyne_pointcloud/CloudNodelet velodyne_nodelet_manager" output="screen">
    <param name="calibration" value="$(arg calibration)"/>
    <param name="min_range" value="$(arg min_range)"/>
    <param name="max_range" value="$(arg max_range)"/>
    <param name="model" value="$(arg model)"/>
    <param name="imu_sync" value="$(arg imu_sync)"/>
    <param name="organized" value="$(arg organized)"/>
    <param name="topic_pointcloud" value="$(arg topic_pointcloud)"/>
    <param name="topic_packets" value="$(arg topic_packets)"/>
  </node>
</launch>
