<launch>
  <arg name="topic_pointclouds" default=""/>
  <arg name="topic_fused_pointcloud" default="/dusensor/velodyne/fused_points"/>
  <arg name="node_name" default="fusion_nodelet"/>
  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
        args="load velodyne_pointcloud/FusionNodelet velodyne_nodelet_manager" output="screen">
    <param name="topic_pointclouds" value="$(arg topic_pointclouds)"/>
    <param name="topic_fused_pointcloud" value="$(arg topic_fused_pointcloud)"/>
  </node>
</launch>
