<launch>
  <arg name="topic_pointclouds" default="/dusensor/velodyne/points"/>
  <arg name="topic_republish_pointcloud" default="/dusensor/velodyne/republish_points"/>
  <arg name="node_name" default="fusion_test_nodelet"/>
  <arg name="time_offset" default="100"/>
  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
        args="load velodyne_pointcloud/RePublishForFusionTestNodelet velodyne_nodelet_manager" output="screen">
    <param name="topic_pointclouds" value="$(arg topic_pointclouds)"/>
    <param name="topic_republish_pointcloud" value="$(arg topic_republish_pointcloud)"/>
    <param name="time_offset" value="$(arg time_offset)"/>
  </node>
</launch>
