<launch>

  <include file="$(find velodyne_pointcloud)/launch/nodelet_manager.launch">
  </include>
  
    <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/driver_nodelet.launch">
    <arg name="model" value="32E"/>
    <arg name="rpm" value="600"/>
  </include>
  
  <!-- start cloud nodelet using test calibration file -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="model" default="32E" />
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/32E_calibration.yaml" />
    <arg name="organized" default="false"/>
    <arg name="min_range" default="0.9" />
    <arg name="max_range" default="70.0" />
    <arg name="imu_sync" default="xsens" />
    <arg name="topic_pointcloud" default="/dusensor/velodyne/points"/>
    <arg name="topic_packets" default="/velodyne_packets"/>
  </include>

</launch>
