<launch>
  <!-- start rosbag replay -->
  <include file="$(find velodyne_pointcloud)/launch/rosbag_replay.launch">
    <arg name="rate" default="1" />
    <arg name="start" default="0" />
    <arg name="bag" default="/home/work/bag_files/20151129-145256.bag"/>
  </include> 
  
  <include file="$(find velodyne_pointcloud)/launch/nodelet_manager.launch">
  </include>
  <include file="$(find velodyne_pointcloud)/launch/scan_msg_transform_nodelet.launch">
    <arg name="model" default="64E_S2" />
  </include>
  <!-- start cloud nodelet using test calibration file -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="model" default="64E_S2" />
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/64E_S2_calibration.yaml" />
    <arg name="organized" default="false"/>
    <arg name="min_range" default="5.0" />
    <arg name="max_range" default="70.0" />
    <arg name="imu_sync" default="xsens" />
    <arg name="topic_packets" default="velodyne_packets" />
  </include>

    <include file="$(find velodyne_pointcloud)/launch/filter_nodelet.launch">
        <arg name="node_name" value="sensor_velodyne_fusion_downsample"/>
        <arg name="topic_fused_pointcloud" value="/dusensor/velodyne/points"/>
        <arg name="topic_downsample_pointcloud" value="/sensor/velodyne/fusion/downsample/PointCloud2"/>
      </include>
</launch>
