<!--
    pre-processing old bag file
-->

<launch>
  <!-- start rosbag replay -->
  <include file="$(find velodyne)/launch/replay_with_old_bag.launch">
  </include> 
  
  <!-- start cloud nodelet using test calibration file -->
  <include file="$(find velodyne_pointcloud)/launch/filter_nodelet.launch">
    <arg name="model" default="64E_S2" />
  </include>


</launch>

