<launch>

  <!-- start rosbag replay -->
  <include file="$(find velodyne_pointcloud)/launch/rosbag_replay.launch">
    <arg name="rate" default="1" />
    <arg name="start" default="0" />
    <arg name="bag" default="/home/work/bag_files/packets.bag"/>
  </include> 
  
  <include file="$(find velodyne_pointcloud)/launch/nodelet_manager.launch">
  </include>
  
  <!-- start cloud nodelet using test calibration file -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="model" default="64E_S2" />
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/64E_S2_calibration.yaml" />
    <arg name="organized" default="false"/>
    <arg name="min_range" default="5.0" />
    <arg name="max_range" default="70.0" />
    <arg name="imu_sync" default="xsens" />
  </include>

</launch>
