<!--
    Subscribe /dusensor/velodyne/packets from the old bag file, and publish
    /velodyne_packets with new data structure
-->

<launch>
  <!-- start rosbag replay -->
  <include file="$(find velodyne_pointcloud)/launch/rosbag_replay.launch">
    <arg name="rate" default="1" />
    <arg name="start" default="0" />
    <arg name="bag" value="/home/work/bag_files/idl.bag"/>
  </include> 
  
  <include file="$(find velodyne_pointcloud)/launch/nodelet_manager.launch">
  </include>
  
  <!-- start cloud nodelet using test calibration file -->
  <include file="$(find velodyne_pointcloud)/launch/scan_msg_transform_nodelet.launch">
    <arg name="model" default="64E_S2" />
  </include>

</launch>
