<launch>

  <include file="$(find velodyne_pointcloud)/launch/nodelet_manager.launch">
  </include>
  
    <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/driver_nodelet.launch">
    <arg name="model" value="VLP16"/>
    <arg name="firing_data_port" value="2369"/>
    <arg name="positioning_data_port" value="8309"/>
    <arg name="rpm" value="600"/>
    <arg name="use_gps_time" value="true"/>
  </include>
  <!-- start cloud nodelet using test calibration file -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="model" default="VLP16" />
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16_calibration.yaml" />
    <arg name="organized" default="false"/>
    <arg name="min_range" default="0.9" />
    <arg name="max_range" default="70.0" />
    <arg name="imu_sync" default="xsens" />
    <arg name="topic_pointcloud" default="/dusensor/velodyne/points"/>
    <arg name="topic_packets" default="/velodyne_packets"/>
  </include>
</launch>
